	h1 {
	    padding:20px;
            font-weight:bold;
            font-size:30px;
                border-radius: 10px;
                background-color: aqua;
	}
        button {  
            background-color: #2694F5;  
            border: none;  
            color: #ffffff;  
            padding: 10px 20px;  
            border-radius: 4px;  
            cursor: pointer; 
        }
        button:hover {  
            background-color: #4872FD;  
        }
        header-list{
        list-style: none;
        width: 100%;
        overflow: hidden;
        }
        
        .header-list li{
          float: left;
          line-height: 62px;
          margin:0 50px;
        }
        
        .header-list li:hover{
          background: #fff;
        }
        
        .header-list li a:hover{
          color: #000;
        }
        
        .header-list li a{
          text-decoration: none;
          color: #fff;
          padding: 0 10px;
          display:block;
        
        }
        
        header{
          width: 100%;
          height: 62px;
          background: #07F980;
          min-width: 1200px;
          font-size: 14px;
		border-radius: 10px;
        }
        
        .w1200{
          width: 1200px;
          height: 100%;
          padding:0 100px;
          margin:0 auto;
          box-sizing:border-box;
          position: relative;
        }
img {
	border-radius: 15px;
}

.hr-solid-content{
    color: #a2a9b6;
    border: 0;
    font-size: 12px;
    padding: 1em 0;
    position: relative;
}
.hr-solid-content::before {
    content: attr(data-content);
    position: absolute;
    padding: 0 1ch;
    line-height: 1px;
    border: solid #d0d0d5;
    border-width: 0 99vw;
    width: fit-content;
    /* for IE浏览器 */
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
}

code {
  font-family: "Consolas";
  background-color: #00BFFF;
  border-radius: 3px;
}